.section {
    padding: 75px 80px;
    width: 100%;
    margin: 20px auto;
}

.section-white{
    background-color: rgb(175, 169, 169);
    
}
.titre-section{
     font-family: "Asap", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    font-weight: 700px;
    text-align: center;
}

.services{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 20px;
    font-family: "Asap", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;


}

.services-enfant {
    border: 1px solid #BCE1FF;
    background-color: white;
    padding: 36px;
    border-radius: 12px;
    text-align: center;
}

.section-light{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color:rgb(124, 175, 173);
    display: block;
    text-align: center;
    align-items: center;
    justify-content: space-between;

}
.setion-blue{
    background-color: rgb(75, 182, 231);
}

.blue-slider{
    display: flex;
    
    
}
.blue-slider .texte{

  font-family: "Asap", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: Bold;
  font-variation-settings:
    "wdth" 100;

}
.slider-item img{
    width: 100%;
    margin: 0;
    height: 400px;
    object-fit: cover;
    border: 1px solid #BBBB;
    border-radius: 8px;
    display: inline-block;
}

.slider-item {
    background-color: rgba(255,255,255, 0.3);
    padding: 20px;
    border-radius: 8px;
    min-height: 180px;
    width: 100%;
   position: relative;
    
    
}

.slider-item  .texte{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    text-align: center;
    color: rgb(240, 224, 224);

}
.blue-slider .slick-slide{
    margin-left: 20px;
    display: flex;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    border: 1px solid white;
    border-radius: 50px;
    padding: 16px;
    cursor: pointer;
}
.slick-arrow:hover {
    background:red;
}

.prev {
    left: -60px;
}
.next {
    right: -60px;
}

.slider-item:hover {
    background-color: white;
    color: var(black);
}

.Bio-enfant a{
    padding-left: 200px;
    padding-bottom: 50px;
    padding-right: 200px;
    padding-top: 50px;
    align-items: first baseline;
    background-position: left;
    width: 50%;
    height: 50vh;
}
.titre-Bio{
  font-family: "Asap", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: Bold;
  font-variation-settings:
    "wdth" 100;
  
}
.Bio-enfant p{
  font-family: "Asap", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;

}
.Titre1{
    text-align: center;
    align-items: center;
    color:black;
    font-family: "Asap", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: Bold;
    font-variation-settings:
    "wdth" 100;
}
.Bio{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;   
    width: 100%;
    height: 100vh;
    margin: auto;
    text-align: left;
    
}

.Bio img{
   border-radius: 20px;
   border-left: 10px solid #6b6767;
   border-top: 30px solid #aca5a5;
   border-bottom: 20px solid #000;
}

.header{
   background-color:black;
   padding: 0 8px;
   margin: 0;
   width: 1440;
   height: 100;
   
}

.container-navbar-brand{
    width: 301;
    height: 63;
    top: 19px;
    left: 135px;
}
.nav-link{
    font-weight: 400;
    font-size:14px ;
    color: white;
}

#navbarNav{
   justify-content: flex-end; 
}
#navbarNav .navbar-nav{
    gap: 20px;
}

.button{
    padding: 16px 24px;
    background-color: white;
    color: black;
    border-radius: 4px;
  
}
.button a{
    text-decoration: none;
    color: black;
}
.setion-dark{
    background-color: black;
   
}
.Section-dark-iem a{
    text-decoration: none;
    padding: 24px 16px;
    background-color: white;
    text-align: center;
    align-items: center;
}



.setion-dark .Section-dark-iem img{
    width:500px;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
    
}
.Text1{
    text-align: center;
    align-items: center;
    color: white;
    font-family: "Asap", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.texth3{
    text-align: start;
    color:whitesmoke;
    font-family: "Asap", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 20px;
}


